body {
  background-color: rgb(240, 242, 243);
}

.slack-container {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 500px;
  display: flex;
  padding: 0px;
}

.menu-panel {
  background-color: rgb(4, 77, 128);
  color: white;
  width: 20%;
  padding: 0px;
}

.list-side-panel {
  width: 80%;
  background-color: white;
}

.list-panel {
  min-height: 448px;
}
